bcrypt
blinker
click
colorama
contourpy
cycler
dump
filelock
Flask
Flask-Bcrypt
fonttools
fsspec
iniconfig
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mpmath
mysql
mysql-connector
mysql-connector-python
mysqlclient
networkx
nltk
numpy
packaging
pandas
pillow
pluggy
Pygments
pyparsing
pytest
python-dateutil
pytz
PyYAML
redis
regex
scikit-learn
scipy
setuptools
six
sympy
threadpoolctl
torch
tqdm
typing_extensions
tzdata
Werkzeug
